html, body {
    background: black;
    font-family: 'ZCOOL KuaiLe', Helvetica, sans-serif;
    background-image:  url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-shadow: 2px 2px 5px #000000;
}

table {
    height: 45rem;
    width: 45rem;
    align-self: center;
    margin-bottom: 1rem;
}

td, tr {
    border: 1px solid black;
    background: white;
    border-radius: 0.5em;
    box-shadow: 2px 2px 5px #000000;
}

h1{
    text-align: center;
}

.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.bomb{
    background-image: url(../img/boom.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.gold{
    background-image: url(../img/gold.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.diamond{
    background-image: url(../img/diamond.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.soil{
    background-image: url(../img/soil.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.game-info-label{
    margin-right: 1rem;
    margin-left: 1rem;
    color: white;
    line-height: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.game-info-text{
    height: 2rem;
    width: 5rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
}

#reset{
    margin-right:1rem;
    font-size:1rem;
    font-family: 'ZCOOL KuaiLe';
}

#div-btns{
    display:flex;
    justify-content: center;
    padding-bottom: 1rem;
}

#div-score-etc{
    display:flex;
    justify-content: center;
    padding-bottom: 1rem;
}

#game-status{
    background-color: rgba(255, 85, 85, 0.8);
    text-align: center;
    border-radius: 0.3em;
    margin-bottom: 0.5em;
}
